.idea/
sdx-2023-music-demixing-track-starter-kit/
pipelines/models/
.venv/
datasets/
dist/
evaluation_audios/
hdf5s/
checkpoints/
indexes/
lightning_logs/
logs/
musdb18/
sep_results/
musdb_train
musdb_valid
musdb_test
/diffusion_models/
musdb18_input
/data/