librosa==0.8.0
museval==0.4.0
h5py==3.12.1
pytorch_lightning==1.2.1
numpy==1.26.4
# matplotlib==3.3.4
musdb==0.4.0
museval==0.4.0
tqdm==4.66.5
ipykernel==6.29.5
torchlibrosa==0.0.9
# torch==2.4.1
# torchaudio==2.4.1
# torchvision==0.19.1
pydantic==2.9.2